.item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);


  &:not(:last-child) {
  border-bottom: 1px solid #f5f5f7;
  }
  & > td {
    &:nth-child(3n-2),
    &:nth-child(3n-1) {
      border-right: 1px solid #f5f5f7;
    }
  }
}
