.transaction {
  display: grid;
  margin: 0 auto;

  max-width: 300px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &__tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);

    border-bottom: 1px solid #f5f5f7;
  }

  &__th {
    text-align: start;

    &:not(:last-child) {
      border-right: 1px solid #f5f5f7;
    }
  }
}
